.RezultatZdrijeba {
    text-align: center;
    margin-top: 10px;
}


.lijevatablicaA, .desnatablicaB {
    width: 50%;
    display: inline-block;
}

table {
    margin: auto;
}

.button-krenimo {
    text-align: center;
    margin-top: 300px;
    padding: 20px 50px;
    font-size: 20px;
}