.tablicaA, .tablicaB, .utakmiceA, .utakmiceB {
    width: 50%;
    display: inline-block;
}

.timovi, .rezultat {
    display: inline-block;
}

.rezultat {
    margin-left: 50px;
}

input[type='number']{
    width: 30px;
}